!.gitignore

addons_autoscripts/
addons_config/
Archive_Floorplan/
blueprints/
deps/
image/
nest/
node-red/
tts/
www/person/
zigbee2mqtt/
govee_learning.yaml
secrets.yaml
scenes.yaml
www/community/
www/qr_code/
custom_components/
automations.yaml
go2rtc.yaml
homekit.yaml

*.log*
*.db*

.cloud/
.storage/
.ssh/
www/community/clock-weather-card/clock-weather-card.js.gz
automations.yaml
